/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  #body {
    color: #e0e5ec;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .front {
    margin: 10px 10px;
    border-radius: 12px;
    background: #e0e5ec;
    color: #a3b1c6;
    box-shadow: inset -5px 5px 7px #a3b1c6, inset 5px -5px 7px #ffffff;
  }
  .back {
    margin: 10px 10px;

    color: #a3b1c6;
    border-radius: 12px;
    background: #e0e5ec;
    box-shadow: inset 5px 5px 3px #a3b1c6, inset -5px -5px 3px #ffffff;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
  #body {
    color: #e0e5ec;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .front {
    margin: 10px 10px;
    border-radius: 12px;
    background: #e0e5ec;
    color: #a3b1c6;
    box-shadow: inset -5px 5px 7px #a3b1c6, inset 5px -5px 7px #ffffff;
  }
  .back {
    margin: 10px 10px;

    color: #a3b1c6;
    border-radius: 12px;
    background: #e0e5ec;
    box-shadow: inset 5px 5px 3px #a3b1c6, inset -5px -5px 3px #ffffff;
  }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  #body {
    color: #e0e5ec;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .front {
    margin: 10px 10px;
    border-radius: 12px;
    background: #e0e5ec;
    color: #a3b1c6;
    box-shadow: inset -5px 5px 7px #a3b1c6, inset 5px -5px 7px #ffffff;
  }
  .back {
    margin: 10px 10px;

    color: #a3b1c6;
    border-radius: 12px;
    background: #e0e5ec;
    box-shadow: inset 5px 5px 3px #a3b1c6, inset -5px -5px 3px #ffffff;
  }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
  #body {
    color: #e0e5ec;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .front {
    margin: 10px10px;
    border-radius: 12px;
    background: #e0e5ec;
    color: #a3b1c6;
    box-shadow: inset -5px 5px 7px #a3b1c6, inset 5px -5px 7px #ffffff;
  }
  .back {
    margin: 10px 10px;

    color: #a3b1c6;
    border-radius: 12px;
    background: #e0e5ec;
    box-shadow: inset 5px 5px 3px #a3b1c6, inset -5px -5px 3px #ffffff;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  #body {
    color: #e0e5ec;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .front {
    margin: 0 10px;
    border-radius: 12px;
    background: #e0e5ec;
    color: #a3b1c6;
    box-shadow: inset -5px 5px 7px #a3b1c6, inset 5px -5px 7px #ffffff;
  }
  .back {
    margin: 0 10px;

    color: #a3b1c6;
    border-radius: 12px;
    background: #e0e5ec;
    box-shadow: inset 5px 5px 3px #a3b1c6, inset -5px -5px 3px #ffffff;
  }
}
